absl-py==2.1.0
affine==2.4.0
asttokens==2.0.5
attrs==23.2.0
backcall==0.2.0
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1720453481653/work/certifi
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
contourpy==1.2.1
cycler==0.12.1
debugpy==1.6.0
decorator==5.1.1
diffdist==0.1
einops==0.8.0
entrypoints==0.4
executing==0.8.3
filelock @ file:///croot/filelock_1700591183607/work
fonttools==4.53.1
fsspec==2024.6.1
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645438755360/work
grpcio==1.64.1
huggingface-hub==0.23.4
idna @ file:///croot/idna_1714398848350/work
importlib_metadata==8.0.0
importlib_resources==6.4.0
ipykernel==6.15.0
ipython==8.4.0
jedi==0.18.1
Jinja2 @ file:///croot/jinja2_1716993405101/work
jupyter-client==7.3.4
jupyter-core==4.10.0
kiwisolver==1.4.5
lmdb==1.3.0
Markdown==3.6
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib==3.9.1
matplotlib-inline==0.1.3
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mpmath @ file:///croot/mpmath_1690848262763/work
nest-asyncio==1.5.5
networkx @ file:///croot/networkx_1717597493534/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=6094eeedd869502faa0fd0a8c5ad3a70c5779be06ddd1feb7627e5c212fac420
opencv-contrib-python==4.10.0.84
opencv-torchvision-transforms-yuzhiyang==0.0.1
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow @ file:///croot/pillow_1714398848491/work
prompt-toolkit==3.0.30
protobuf==4.25.3
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyparsing==3.0.9
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil==2.8.2
PyYAML @ file:///croot/pyyaml_1698096049011/work
pyzmq==23.2.0
rasterio==1.3.10
requests @ file:///croot/requests_1716902831423/work
safetensors==0.4.3
six==1.16.0
snuggs==1.4.7
stack-data==0.3.0
sympy @ file:///croot/sympy_1701397643339/work
tensorboard==2.17.0
tensorboard-data-server==0.7.2
timm==1.0.7
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tornado==6.1
tqdm==4.66.4
traitlets==5.3.0
triton==2.3.1
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
urllib3 @ file:///croot/urllib3_1718912636303/work
wcwidth==0.2.5
Werkzeug==3.0.3
zipp==3.19.2
